    @font-face {
        font-family: 'Assistant';
        src: url(../fonts/Assistant/Assistant-Regular.ttf);
    }
    
    @font-face {
        font-family: 'Playfair Display';
        src: url(../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf);
    }
    
    body {
        background-color: #ffffff;
        font-family: 'Assistant', sans-serif;
        color: #071c4d;
    }
    
    // Navbar ==================================
    .navbar-brand {
        img {
            max-height: 40px;
        }
    }
    
    .navbar-light {
        .navbar-nav {
            .nav-link {
                color: #071c4d;
                &.active {
                    font-weight: bold;
                    color: #071c4d;
                }
            }
        }
    }
    
    .btn-navbar-right {
        margin-top: -10px !important;
        margin-bottom: -8px !important;
        margin-right: -18px !important;
        height: 70px;
        border-radius: 0;
    }
    
    .btn-login {
        background-color: #071c4d;
        color: #ffffff;
        &:hover {
            background-color: #133075;
            color: #ffffff;
        }
    }
    
    // header ==================================
    header {
        margin-top: -70px;
        padding: 180px 0 165px;
        background-image: url(../images/header.jpg);
        background-size: cover;
        h1,
        p {
            color: #ffffff;
            font-size: 22px;
            font-family: 'Assistant' sans-serif;
        }
        h1 {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 50px;
        }
        .btn-get-started {
            background-color: #FF9E53;
            color: #ffffff;
            &:hover {
                background-color: #ffa967;
                color: #ffffff;
            }
        }
    }
    
    // statistic ===========================================
    .section-stats {
        margin-top: -50px;
        .stats-detail {
            padding-top: 15px;
            background-color: #ffffff;
            padding-left: 40px;
        }
        h2 {
            font-size: 30px;
            margin-bottom: 0;
        }
        p {
            font-size: 20px;
            font-weight: lighter;
        }
    }
    
    // popular =============================================
    .section-popular {
        min-height: 540px;
        background-color: #051334;
        margin-top: -50px;
        margin-bottom: -230px;
        .section-popular-heading {
            margin-top: 150px;
            h2,
            p {
                color: #ffffff;
            }
            h2 {
                font-family: 'Playfair Display', serif;
                font-weight: bold;
                font-size: 40px;
            }
            p {
                font-size: 18px;
            }
        }
    }
    
    // Popular Conttent ====================================
    .section-popular-content {
        .section-popular-travel {
            .card-travel {
                min-height: 380px;
                background-color: #ddd;
                color: #ffffff;
                padding: 30px;
                background-size: cover;
                margin-bottom: 20px;
            }
            .travel-country {
                font-size: 18px;
                color: #ffffff;
            }
            .travel-location {
                font-size: 24px;
                color: #ffffff;
            }
            .travel-button {
                .btn-travel-details {
                    background-color: #FF9E53;
                    color: #ffffff;
                    &:hover {
                        background-color: #ffa967;
                        color: #ffffff;
                    }
                }
            }
        }
    }
    
    //  Our Network ====================================================
    .section-networks {
        background-color: #ffffff;
        margin-top: -170px;
        padding-top: 240px;
        padding-bottom: 50px;
        h2 {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 40px;
        }
        p {
            font-size: 18px;
        }
        img {
            max-width: 100%;
        }
    }
    
    // Testimonial Heading ===============================================
    .section-testimonial-heading {
        padding-top: 50px;
        min-height: 506px;
        background: linear-gradient(#ffffff 0%, #f7f9ff 100%);
        h2 {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 40px;
            text-align: center;
        }
        p {
            font-size: 18px;
        }
    }
    
    // Testimonial Heading ===============================================
    .section-testimonial-content {
        margin-top: -300px;
        min-height: 300px;
        .card-testimonial {
            padding: 40px 20px 10px;
            border-radius: 11px;
            margin-bottom: 20px;
        }
        .testimonial-content {
            min-height: 380px;
        }
        h3 {
            font-size: 22px;
            font-weight: bold;
        }
        .testimonial {
            font-weight: 200;
            font-size: 26px;
            color: #6e6e6e;
            min-height: 160px;
        }
        .trip-to {
            font-weight: normal;
            font-size: 22px;
            color: #6e6e6e;
        }
        hr {
            margin-left: -20px;
            margin-right: -20px;
        }
        .btn-get-started {
            background-color: #FF9E53;
            color: #ffffff;
            &:hover {
                background-color: #ffa967;
                color: #ffffff;
            }
        }
        .btn-help {
            background-color: #f2f2f2;
            color: #c3c3c3;
            &:hover {
                background-color: #fafafa;
                color: #ccc;
            }
        }
    }
    
    // footer ==============================================
    .section-footer {
        a {
            color: #071c4d;
        }
    }
    
    // details page
    // Section Header ======================================
    .section-details-header {
        min-height: 310px;
        background-color: #e4e6eb;
        margin-top: -70px;
    }
    
    // section content details =============================
    .section-details-content {
        margin-top: -210px;
        min-height: 100vh;
        .breadcrumb {
            background-color: transparent;
            padding: 0;
            margin-bottom: 30px;
        }
        .breadcrumb-item {
            &.active {
                font-weight: bold;
                color: #071c4d;
            }
        }
        .card-details {
            padding: 30px;
            border-radius: 11px;
            h1 {
                font-size: 26px;
            }
            h2 {
                font-size: 20px;
            }
            p {
                font-size: 18px;
                color: #b1b1b1;
            }
            h3 {
                color: #071c4d;
                font-size: 14px;
                font-weight: 600;
            }
            .trip-informations {
                th {
                    font-weight: 300;
                    font-size: 15px;
                    color: #071c4d;
                }
                td {
                    font-weight: 300;
                    font-size: 15px;
                    color: #b1b1b1;
                    .text-blue {
                        color: #071c4d;
                        font-weight: bold;
                    }
                    .text-orange {
                        color: #FF9E53;
                        font-weight: bold;
                    }
                }
            }
            .payment-instruction {
                font-weight: 300;
                font-size: 14px;
                color: #b1b1b1;
            }
            .bank {
                .bank-item {
                    h3 {
                        font-size: 18px;
                        color: #071c4d;
                        margin-bottom: 0;
                    }
                    p {
                        margin-bottom: 0;
                    }
                    .description {
                        margin-left: 20px;
                        overflow: hidden;
                        float: left;
                        p {
                            font-weight: normal;
                            font-size: 16px;
                            color: #071c4d;
                        }
                    }
                }
                .bank-image {
                    width: 45px;
                    height: 45px;
                    float: left;
                }
            }
            .disclaimer {
                font-weight: 300;
                font-size: 14px;
                color: #b1b1b1;
            }
            .gj-datepicker {
                .datepicker {
                    border-right: 0;
                }
                .input-group-append {
                    .btn {
                        padding-right: 30px;
                    }
                }
            }
        }
        .btn-add-now {
            background-color: #071C4D;
            color: #ffffff;
            &:hover {
                background-color: #193a88;
                color: #ffffff;
            }
        }
        .card-right {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom: 0;
        }
        .features {
            margin-top: 20px;
            h3 {
                font-size: 18px;
                color: #071c4d;
                margin-bottom: 0;
            }
            p {
                margin-bottom: 0;
            }
            .description {
                margin-left: 10px;
                overflow: hidden;
                float: left;
            }
            .features-image {
                width: 45px;
                height: 45px;
                float: left;
            }
        }
        .gallery {
            .xzoom-container {
                display: block;
                .xzoom {
                    width: 100%;
                    box-shadow: none;
                    margin-bottom: 10px;
                }
                .xactive {
                    border: 4px solid #1abc9c;
                    box-shadow: none;
                }
            }
        }
        // Card Right Mmeber are Going ===================
        .join-container {
            margin-top: -16px;
        }
        .members {
            .member-image {
                margin-right: 7px;
                width: 40px;
                height: 40px;
            }
        }
        .btn-join-now {
            background-color: #FF9E53;
            border-radius: 0;
            color: #ffffff;
            &:hover {
                background-color: #ff6f00;
                color: #ffffff;
                font-weight: bold;
            }
        }
    }
    
    // Section success =======================
    .section-success {
        height: 90vh;
        h1 {
            font-weight: 600;
            font-size: 26px;
            color: #071c4d;
        }
        p {
            font-weight: 300;
            font-size: 18px;
            color: #b1b1b1;
        }
        .btn-homepage {
            background-color: #071c4d;
            font-weight: bold;
            color: #ffffff;
            &:hover {
                color: white;
                background-color: #234085;
            }
        }
    }